*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour', sans-serif;
}

body{
   background-color: #420013;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.title{
    position: absolute;
    top:3%;
    left: 35.25%;
    padding: 0.5vw 1vw;
    font-size: 2.5vw;
    color:#300511;
    font-weight: bold;
    background-color: #FFFDD0;
    border-radius: 5vw;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 60vh;
 margin-top: 7vw;
}   

.box{
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;



}

.btn{
    background-color: #d5eeec;
    width: 15vmin;
    height: 15vmin;
    border-radius: 10%;
    border: none;
font-size: 3.5vw;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}



.reset{
    margin-top: 3vw;
    border: none;
    padding: 1vw 3vw;
    background-color: #FFFDD0;
    color:#300511;
    border-radius: 5%;
    font-size: 1.25vw;
    font-weight: bolder;
}

.newGame{
    margin-top: 3vw;
    border: none;
    padding: 1vw 2vw;
    background-color: #D36CB6;
    color: #000000;
    border-radius: 5%;
    font-size: 1.25vw;
    font-weight: bolder;
    animation: blink 0.7s infinite;
    
}

@keyframes blink {
    0%, 49%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#newBtn{
    display: none;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2vw;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*-----------------------------------Mobile Responsiveness-------------------------------------------------------------------------*/
@media screen and (max-width:600px) {
    .title{
        position: absolute;
        top:3%;
        left: 35.25%;
        padding: 3vw 2vw;
        font-size: 4vw;
        color:#300511;
        font-weight: bold;
        background-color: #FFFDD0;
        border-radius: 5vw;
    }
}